@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  /* add more @font-face rules for other font variations */

  body {
    font-family: 'IBM Plex Mono', monospace;
  }
